# Challenge Part 2
### Have Customers Narrow Their Travel Searches Based on Temperature and Precipitation

In [1]:
import pandas as pd
import requests
import gmaps

from config import g_key

In [2]:
city_data_df = pd.read_csv("weather_data/WeatherPy_Database.csv")
city_data_df

,City_ID,City,Cloudiness,Country,Current Description,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
0,0,Lagoa,4,PT,clear sky,88,39.05,-27.98,65.26,0.0,0,13.65
1,1,Bluff,0,NZ,clear sky,83,-46.60,168.33,39.00,0.0,0,3.00
2,2,Longyearbyen,75,SJ,broken clouds,65,78.22,15.64,44.60,0.0,0,8.05
3,3,Severo-Kurilsk,100,RU,overcast clouds,87,50.68,156.12,41.92,0.0,0,8.52
4,4,Rikitea,100,PF,light rain,85,-23.12,-134.97,75.97,0.8,0,17.60
...,...,...,...,...,...,...,...,...,...,...,...,...
560,560,Swan River,100,CA,light rain,92,52.11,-101.27,46.71,0.3,0,6.42
561,561,Besancon,0,FR,clear sky,100,47.25,6.02,57.99,0.0,0,1.10
562,562,Port Keats,1,AU,clear sky,57,-14.25,129.55,69.62,0.0,0,6.31
563,563,Mangrol,13,IN,few clouds,79,21.12,70.12,85.03,0.0,0,15.95
564,564,Zapolyarnyy,82,RU,broken clouds,62,69.42,30.81,53.60,0.0,0,6.93

In [3]:
city_data_df.dtypes

City_ID                  int64
City                    object
Cloudiness               int64
Country                 object
Current Description     object
Humidity                 int64
Lat                    float64
Lng                    float64
Max Temp               float64
Rain (inches)          float64
Snow (inches)            int64
Wind Speed             float64
dtype: object

In [4]:
# Configure gmaps

gmaps.configure(api_key=g_key)

In [5]:
# Enter temperature criteria

min_temp = float(input("What is the minimum temperature you would like for your vacation?"))
max_temp = float(input("What is the maximum temperature you would like for your vacation?"))

What is the minimum temperature you would like for your vacation?50
What is the maximum temperature you would like for your vacation?90

In [6]:
# Enter rain and snow criteria

rain_amount = input("Do you want it to be raining (yes/no)")

Do you want it to be raining (yes/no)no

In [7]:
snow_amount = input("Do you want it to be snowing (yes/no)")

Do you want it to be snowing (yes/no)no

In [11]:
if rain_amount == "no" and snow_amount == "no": 
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                           (city_data_df["Max Temp"] >= min_temp) &
                                           (city_data_df["Rain (inches)"] == 0) &
                                           (city_data_df["Snow (inches)"] == 0)]
elif rain_amount == "no" and snow_amount == "yes":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                           (city_data_df["Max Temp"] >= min_temp) &
                                           (city_data_df["Rain (inches)"] == 0) &
                                           (city_data_df["Snow (inches)"] >= 0.0)]

elif rain_amount == "yes" and snow_amount == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                           (city_data_df["Max Temp"] >= min_temp) &
                                           (city_data_df["Rain (inches)"] > 0.0) &
                                           (city_data_df["Snow (inches)"] == 0)]

else:
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                           (city_data_df["Max Temp"] >= min_temp) &
                                           (city_data_df["Rain (inches)"] > 0.0) &
                                           (city_data_df["Snow (inches)"] > 0)]

In [17]:
filtered_cities_df

,City_ID,City,Cloudiness,Country,Current Description,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
0,0,Lagoa,4,PT,clear sky,88,39.05,-27.98,65.26,0.0,0,13.65
6,6,Provideniya,0,RU,clear sky,58,64.38,-173.30,57.20,0.0,0,4.47
7,7,East London,0,ZA,clear sky,60,-33.02,27.91,64.45,0.0,0,12.55
9,9,Whitefish,90,US,overcast clouds,67,48.41,-114.34,63.00,0.0,0,4.70
11,11,Albany,47,US,scattered clouds,44,42.60,-73.97,87.01,0.0,0,6.26
...,...,...,...,...,...,...,...,...,...,...,...,...
556,556,Piracuruca,20,BR,few clouds,58,-3.93,-41.71,86.95,0.0,0,3.42
561,561,Besancon,0,FR,clear sky,100,47.25,6.02,57.99,0.0,0,1.10
562,562,Port Keats,1,AU,clear sky,57,-14.25,129.55,69.62,0.0,0,6.31
563,563,Mangrol,13,IN,few clouds,79,21.12,70.12,85.03,0.0,0,15.95
564,564,Zapolyarnyy,82,RU,broken clouds,62,69.42,30.81,53.60,0.0,0,6.93

In [14]:
filtered_cities_df.count()

City_ID                396
City                   396
Cloudiness             396
Country                392
Current Description    396
Humidity               396
Lat                    396
Lng                    396
Max Temp               396
Rain (inches)          396
Snow (inches)          396
Wind Speed             396
dtype: int64

In [15]:
filtered_cities_df = filtered_cities_df.dropna()
filtered_cities_df

,City_ID,City,Cloudiness,Country,Current Description,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
0,0,Lagoa,4,PT,clear sky,88,39.05,-27.98,65.26,0.0,0,13.65
6,6,Provideniya,0,RU,clear sky,58,64.38,-173.30,57.20,0.0,0,4.47
7,7,East London,0,ZA,clear sky,60,-33.02,27.91,64.45,0.0,0,12.55
9,9,Whitefish,90,US,overcast clouds,67,48.41,-114.34,63.00,0.0,0,4.70
11,11,Albany,47,US,scattered clouds,44,42.60,-73.97,87.01,0.0,0,6.26
...,...,...,...,...,...,...,...,...,...,...,...,...
556,556,Piracuruca,20,BR,few clouds,58,-3.93,-41.71,86.95,0.0,0,3.42
561,561,Besancon,0,FR,clear sky,100,47.25,6.02,57.99,0.0,0,1.10
562,562,Port Keats,1,AU,clear sky,57,-14.25,129.55,69.62,0.0,0,6.31
563,563,Mangrol,13,IN,few clouds,79,21.12,70.12,85.03,0.0,0,15.95
564,564,Zapolyarnyy,82,RU,broken clouds,62,69.42,30.81,53.60,0.0,0,6.93

In [16]:
filtered_cities_df.count()

City_ID                392
City                   392
Cloudiness             392
Country                392
Current Description    392
Humidity               392
Lat                    392
Lng                    392
Max Temp               392
Rain (inches)          392
Snow (inches)          392
Wind Speed             392
dtype: int64

In [19]:
hotel_df = filtered_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

           City Country  Max Temp    Lat     Lng Hotel Name
0         Lagoa      PT     65.26  39.05  -27.98
6   Provideniya      RU     57.20  64.38 -173.30
7   East London      ZA     64.45 -33.02   27.91
9     Whitefish      US     63.00  48.41 -114.34
11       Albany      US     87.01  42.60  -73.97

In [21]:
# Set up parameters

params = {
    "radius": 5000, 
    "type": "lodging", 
    "key": g_key
}

# Iterate through

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    hotels = requests.get(base_url, params=params).json()
    
    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except IndexError:
        print("Hotel Not found... skipping...")

Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...
Hotel Not found... skipping...

In [22]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Lagoa,PT,65.26,39.05,-27.98,Casa Das Faias
6,Provideniya,RU,57.20,64.38,-173.30,
7,East London,ZA,64.45,-33.02,27.91,Tu Casa
9,Whitefish,US,63.00,48.41,-114.34,Best Western Rocky Mountain Lodge
11,Albany,US,87.01,42.60,-73.97,

In [24]:
output_data_file = "weather_data/WeatherPy_Vacation.csv"
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [25]:
vacation_df = pd.read_csv("weather_data/WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,Lagoa,PT,65.26,39.05,-27.98,Casa Das Faias
1,6,Provideniya,RU,57.20,64.38,-173.30,NaN
2,7,East London,ZA,64.45,-33.02,27.91,Tu Casa
3,9,Whitefish,US,63.00,48.41,-114.34,Best Western Rocky Mountain Lodge
4,11,Albany,US,87.01,42.60,-73.97,NaN

In [28]:
# Using the template add the hotel marks to the heatmap

info_box_template = """
<d1>
<dtHotel Name</dt>
<dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""

hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [29]:
# Create marker layers

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))